<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/about.css">
</head>
<body>
   
    <h1>About</h1>
    <img src="/images/bird.png" alt="">
    <p>Coldplay are a British rock band formed in London in 1996. They consist of vocalist and 
        pianist Chris Martin, guitarist Jonny Buckland, bassist Guy Berryman, drummer Will Champion and creative director Phil Harvey.
        They met at University College London and began playing music together from 1996 to 1998, first calling themselves Pectoralz 
        and then Starfish.</p>
    <a href="/"><button class="myButton">Back Home</button></a>
</body>
</html>